.App {
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 48px;
}

button {
  margin-top: 30px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(240, 240, 155);
}
